
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: lawngreen;
    font-family: 'Protest Guerrilla'
}
#content {
    max-width: 1080px;
}
/* This is targeting a class in html */
nav {
    display: flex; 
    justify-content: center; 
}
.nav_link {
    padding: 10px;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    background-color: aqua; 
}
img {
    width: 30%;
    display : block;
    margin: 0 auto;
    border: 2px solid black; 
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    transition: transform .5s;
}
img:hover {
    opacity: .6;
    transform: scale(1.1);
}
a:hover{
    color:blueviolet;
    background-color:burlywood;
}

#main_title {
    font-size: 4em;
    text-align: center; 
    background-color: aqua;
}
p {
    width: 30%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 50px;
    background-color: aqua;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 30px 100px;
    box-shadow: 5px 5px 10px black;
    transition: transform .5s;
}
p:hover {
    opacity: .6;
    transform: scale(1.1);
}
#sub_title {
    font-size: 2em;
    color: red 
}
footer {
    padding: 20px;
}
